<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="fr.eni.ecole.demo.dal"></context:component-scan>
	<context:component-scan base-package="fr.eni.ecole.demo.bll"></context:component-scan>
	
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"></bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:datasource.properties</value>
				<value>classpath:datasourceMS.properties</value>
			</list>
			
		</property>
	</bean>
	
	<bean id="datasource1" 
	class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
		
		
		<property name="initialSize" value="${initialSize}"></property>
		<property name="maxTotal" value="${maxTotal}"></property>
	</bean>
	
	<bean id="emf1" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan">
			<list>
				<value>fr.eni.ecole.demo.bo</value>
			</list>		
		</property>
		<property name="dataSource" ref="datasource1"></property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true"></property>
				<property name="database" value="MYSQL"></property>
				<property name="generateDdl" value="false"></property>
			</bean>
		</property>
		<property name="persistenceUnitName" value="PU1"></property>
	</bean>
	
	<bean id="transactionManager1"
	class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf1"></property>
	</bean>
	
	
	
	
	
	<bean id="datasource2" 
	class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driverMS}"></property>
		<property name="url" value="${urlMS}"></property>
		<property name="username" value="${usernameMS}"></property>
		<property name="password" value="${passwordMS}"></property>
	</bean>
	
	<bean id="emf2" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan">
			<list>
				<value>fr.eni.ecole.demo.bo</value>
			</list>		
		</property>
		<property name="dataSource" ref="datasource2"></property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true"></property>
				<property name="generateDdl" value="false"></property>
			</bean>
		</property>
		<property name="persistenceUnitName" value="PU2"></property>
	</bean>
	
	<bean id="transactionManager2" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf2"></property>
	</bean>
	<tx:annotation-driven />
	
</beans>
