<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
<bean id="coursDAOBean" class="fr.eni.ecole.demo.dal.CoursDAOJDBC"></bean>
<bean id="formateurDAOBean" class="fr.eni.ecole.demo.dal.FormateurDAOJDBC"></bean>
<bean id="sessionDAOBean" class="fr.eni.ecole.demo.dal.SessionDAOJDBC"></bean>

<bean id="planningManagerBean" class="fr.eni.ecole.demo.bll.PlanningManager">
	<property name="coursDAO" ref="coursDAOBean"></property>
	<property name="formateurDAO" ref="formateurDAOBean"></property>
	<property name="sessionDAO" ref="sessionDAOBean"></property>
</bean>

</beans>
